body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.App {
  text-align: center;
}

.navbar {
  /* background-color: #003366 !important; */
}

.contact-info {
  color: #333; /* Dark text for light background */
  font-size: 0.9rem;
  line-height: 1.2;
}

.contact-info span {
  white-space: nowrap; /* Prevent phone/email from breaking */
}

.footer {
  background-color: #003366 !important;
}

.btn-primary {
  background-color: #009975 !important;
  border-color: #009975 !important;
}

section {
  padding: 2rem 0;
}

.card {
  margin-bottom: 1rem;
}

.card-carousel {
  height: 200px; /* Fixed height for the carousel */
  overflow: hidden; /* Hide overflow if images are larger */
}

.card-img-fixed-height {
  height: 200px; /* Fixed height for images */
  object-fit: cover; /* Cover the area without distortion */
}

.bg-dark-gray {
  background-color: #343a40; /* Dark gray background */
  color: white; /* White text for dark background */
}

.bg-white {
  background-color: #ffffff; /* White background */
  color: #333; /* Dark text for white background */
}

.bg-dark-gray h2 {
  color: white; /* Ensure headings are white on dark background */
}
