.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  background-color: #343a40;
  padding-top: 1rem;
}

.sidebar .nav-link {
  color: #fff;
}

.sidebar .nav-link:hover {
  color: #007bff;
}

.content {
  margin-left: 250px;
  padding: 1rem;
}
